.container {
  max-width: 720px;
  margin: 0 auto;
}

.posts {
//  display: grid;
//   //grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
//   grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
//   gap: 20px; /* spacing between items */
  .entry {
    margin-bottom: $base-spacing*3;
  }
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #333333;
  margin-bottom: $base-spacing;
  padding-bottom: $base-spacing;
  li {
    display: inline-block;
    &:after {
      content: '/';
      margin-left: $base-spacing;
      margin-right: $base-spacing;
    }
    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}
// .menu {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   li {
//     display: inline-block;
//     a {
//       display: block;
//       padding: 0.25rem 0.75rem;
//     }
//   }
// }
#site-wrap {
  #site-header {
    // background-color: #343233;
    // padding: $base-spacing;
  }
  #site-content {
    // padding: $base-spacing*2;
  }
  #site-footer {
    // display: none;
  }

  @media screen and (min-width: 426px) {
    //display: grid;
    //grid-template-columns: 33.33% 66.66%;
    #site-header {
      //min-height: 100vh;
      //position: relative;
      .container  {
        // position: fixed;
        // top: 0;
        // right: auto;
        // bottom: 0;
        // left: 0;
        // width: 33.33%;
        .site-title {
          // position: absolute;
          // bottom: $base-spacing*2;
          // right: $base-spacing*2;
        }
      }
    }
  }

}

.home-intro {
  min-height: 66.66vh;
  display: flex;             /* enables flex */
  flex-direction: column;    /* stack h1 + p vertically */
  justify-content: center;   /* vertical centering */
}