---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Source Sans 3", sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  0.8rem;
$base-line-height: 1.6;

$header-font-family: "Bitter", serif;
$header-font-weight: 500;

$spacing-unit:     30px;
$base-spacing:          1rem;

$text-color:       #111;
$background-color: #fdfdfd;
$primary-color:      #3E2F84;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
